form {
    margin: 0 auto;
    width: 300px;
  }
  
  .form-group {
    margin-bottom: 10px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
  }
  
  input, textarea {
    width: 75%;
  }
  
  button {
    width: 75%;
  }