<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title></title>
  <meta content="" name="description">
  <meta content="" name="keywords">


</head>

<body>
    <app-header></app-header>
    <app-sidebar></app-sidebar>
<main id="main" class="main">

    <div class="pagetitle">
      <h1>Langue</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="">Home</a></li>
          <li class="breadcrumb-item">Langues</li>
         
        </ol>
      </nav>
    </div>

    <section class="section">
      <div class="row">
        <div class="col-lg-12">

          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Langues</h5>
             
              <!-- Table with stripped rows -->
              <table class="table datatable">
                <thead>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">25</a>
                  <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">10</a></li>
                    <li><a class="dropdown-item" href="#">25</a></li>
                    <li><a class="dropdown-item" href="#">50</a></li>
                 
                    <li><a class="dropdown-item" href="#">100</a></li>
                  </ul>
                </li>
                
                
               
                  <tr>
                    <th>
                      <b>L</b>angue
                    </th>
                    <th>code</th>
                    <th>Etat</th>
                 </tr>
                </thead>
                <tbody>
                  <tr>
                  
                  <tr>
                    <td>arabe</td>
                    <td>ar</td>
                    <a><td><span class="badge bg-danger">désactiver</span></td></a>
                    
                  </tr>
                  <tr>
                    <td>italien</td>
                    <td>it</td>
                    <td><span class="badge bg-danger">désactiver</span></td>
                    
                  </tr>
                  <tr>
                    <td>Espanol</td>
                    <td>es</td>
                    <td><span class="badge bg-danger">désactiver</span></td>
                    
                  </tr>
                  <tr>
                    <td>English</td>
                    <td>En</td>
                    <td><span class="badge bg-danger">désactiver</span></td>
                    
                  </tr>
                  <tr>
                    <td>Deutch</td>
                    <td>de</td>
                    <td><span class="badge bg-danger">désactiver</span></td>
                    
                  </tr>
                                   
                    
   
                </tbody>
              </table>
              <!-- End Table with stripped rows -->

            </div>
            <nav aria-label="Page navigation example">
              <ul class="pagination">
                <li class="page-item">
                  <a class="page-link" href="#" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                  </a>
                </li>
                <li class="page-item"><a class="page-link" href="#">1</a></li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item">
                  <a class="page-link" href="#" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                  </a>
                </li>
              </ul>
            </nav>
          </div>

        </div>
      </div>
     
    </section>

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer" class="footer">
    <div class="copyright">
      &copy; Copyright <strong><span>NiceAdmin</span></strong>. All Rights Reserved
    </div>
    <div class="credits">
      
      Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
</body>

</html>
