<form  [formGroup]="ArticleForm">
  <div class="form-group">
    <label for="">Catégorie</label> 
    <select class="form-control" formControlName="category" > 
      <option  *ngFor="let category of categories" [value]="category.libelle" [value]="category.categorieid"  > {{ category.libelle }}</option> 
    </select>
    </div>
  <div class="form-group">
      <label for="">Titre*</label>
      <input type="text" class="form-control" formControlName="titre" id="titreInput"  required>
    </div>
   
    <div class="form-group">
        <label for="">Prix*</label>
        <input type="number" formControlName="prix" class="form-control" id="prixInput"  required>
      </div>
    

    <div class="form-group">
      <label for="">description*</label>
      <input type="text" formControlName="description" class="form-control" id="descriptionInput" name="description" required>
    </div>
  
    <button type="submit" class="btn btn-primary"(click)="addArticle()">Ajouter</button>
</form>
