<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

 
</head>

<body>
<app-header></app-header>
<app-sidebar></app-sidebar>

  <main id="main" class="main">

    <div class="card">
        <div class="card-body">
          <h5 class="card-title"></h5>

          <nav>
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="index.html"><i class="bi bi-house-door"></i></a></li>
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active">Design Menu</li>
            </ol>
          </nav>
        </div>
      </div><!-- End Page Title -->

    <section class="section">
      <div class="row">
        <div class="col-lg-6">

          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Personnalisation du Menu</h5>

              <!-- General Form Elements -->
              <form>
                <div class="row mb-3">
                  <label for="inputFile" class="col-sm-2 col-form-label">Arrière Plan</label>
                  <div class="col-sm-10">
                      <input class="form-control" type="file" id="inputFile" (change)="onFileChange($event)">
                  </div>
              </div>
              <div class="row mb-3">
                <label for="categoryTextColorInput" class="col-sm-2 col-form-label">Texte Catégories</label>
                <div class="col-sm-5">
                    <input
                        type="color"
                        class="form-control form-control-color"
                        id="categoryTextColorInput"
                        [(ngModel)]="categoryTextColor"
                        title="Choose your color"
                    >
                </div>
            </div>
            
            <div class="row mb-3">
                <label for="categoryBackgroundColorInput" class="col-sm-2 col-form-label">Arrière-plan Catégories</label>
                <div class="col-sm-10">
                    <input
                        type="color"
                        class="form-control form-control-color"
                        id="categoryBackgroundColorInput"
                        [(ngModel)]="categoryBackgroundColor"
                        title="Choose your color"
                    >
                </div>
            </div>
            
            <div class="row mb-3">
                <label for="articleTextColorInput" class="col-sm-2 col-form-label">Texte Article</label>
                <div class="col-sm-10">
                    <input
                        type="color"
                        class="form-control form-control-color"
                        id="articleTextColorInput"
                        [(ngModel)]="articleTextColor"
                        title="Choose your color"
                    >
                </div>
            </div>
            <div class="row mb-3">
              <label for="articleTextColorInput" class="col-sm-2 col-form-label">Arrière-plan Article</label>
              <div class="col-sm-10">
                  <input
                      type="color"
                      class="form-control form-control-color"
                      id="articleTextColorInput"
                      [(ngModel)]="articleBackgroundColor"
                      title="Choose your color"
                  >
              </div>
          </div>
          
              <div class="row mb-3">
               <div class="col-sm-10">
                    <button type="submit" class="btn btn-primary">sauvegarder les modifications</button>
                  </div>
                </div>
          
              </form>

            </div>
          </div>

        </div>

        <div class="col-lg-6">

          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Menu</h5>

              <!-- Advanced Form  -->
              <form>
                <div class="row mb-5">
                  <label class="col-sm-2 col-form-label"></label>
                  <div *ngFor="let category of categories">
                    <h4 [ngStyle]="{ color: categoryTextColor, backgroundColor: categoryBackgroundColor }">{{ category.libelle }}</h4>
                    <ul>
                        <li *ngFor="let article of articlesByCategory[category.categorieid] ">
                            <span [ngStyle]="{ color: articleTextColor, backgroundColor: articleBackgroundColor }"> {{ article.title }} - {{ article.prix | currency }}- {{ article.description | currency }}</span>
                        </li>
                    </ul>
                </div>
                
                
                  
                   
                 
                </div>
                <div class="row mb-3">
                  <div class="col-sm-12">
                      <button
                          class="btn btn-primary"data-bs-toggle="modal" data-bs-target="#myModal"
                          (click)="leaveReview()"
                      >
                          Laisser avis
                      </button>
                  </div>
                  <div class="modal" id="myModal">
                    <div class="modal-dialog modal-lg">
                      <div class="modal-content">
                  
                        <!-- Modal Header -->
                        <div class="modal-header">
                          <h4 class="modal-title">Feedback</h4>
                          <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                        </div>
                  
                        <!-- Modal body -->
                        <div class="modal-body">
                        <app-add-feedback></app-add-feedback>
                        </div>
                  
                        <!-- Modal footer -->
                        <div class="modal-footer">
                          <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
                        </div>
                      </div></div>
                    
                    
                    
                    </div>
              </div>
              <div class="icon">
                <i class="bi bi-cart4"></i>
                <div class="label"></div>
              </div>
                
              

            

              </form><!-- End General Form Elements -->

            </div>
          </div>

        </div>
      </div>
    </section>

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer" class="footer">
    <div class="copyright">
      &copy; Copyright <strong><span></span></strong>. All Rights Reserved
    </div>
    <div class="credits">
      <!-- All the links in the footer should remain intact. -->
      <!-- You can delete the links only if you purchased the pro version. -->
      <!-- Licensing information: https://bootstrapmade.com/license/ -->
      <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/ -->
      Designed by <a href="https://bootstrapmade.com/"></a>
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="assets/vendor/apexcharts/apexcharts.min.js"></script>
  <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets/vendor/chart.js/chart.umd.js"></script>
  <script src="assets/vendor/echarts/echarts.min.js"></script>
  <script src="assets/vendor/quill/quill.min.js"></script>
  <script src="assets/vendor/simple-datatables/simple-datatables.js"></script>
  <script src="assets/vendor/tinymce/tinymce.min.js"></script>
  <script src="assets/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="assets/js/main.js"></script>

</body>

</html>
