<!-- events.component.html -->
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title></title>
  <meta content="" name="description">
  <meta content="" name="keywords">

 
  <link href="assets/img/favicon.png" rel="icon">
  <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">


  <link href="https://fonts.gstatic.com" rel="preconnect">
  
  
</head>

<body>
    <app-header></app-header>
    <app-sidebar></app-sidebar> 
<main id="main" class="main">
    <div class="pagetitle">
        <h1>Feedback</h1>
        <nav>
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="index.html">Home</a></li>
            <li class="breadcrumb-item">Feedbacks</li>
           
          </ol>
        </nav>
      </div>
      <section class="section">
       <div class="events-container">
    
      
        <div class="events-header">
      <h2>Feedbacks</h2>
    </div>
      
    <div class="events-filter">
      <input type="text" [(ngModel)]="searchText" placeholder="Rechercher...">
      
      
    </div>
    <div class="events-list">
      <table>
        <thead>
          <tr>
            <th>message</th>
            <th>visibilité</th>
           
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let feed of Feedbacks ">
            
           
            <td>{{ feed.visible}}</td>
            <td>{{ feed.message}}</td>
            
            <td>
              <button type="button" class="btn btn-primary btn-sm" (click)="editEvent(feed)">éditer</button>
              <button type="button" class="btn btn-outline-danger btn-sm"(click)="deleteEvent(feed)">archiver</button> </td>
         
          </tr>
          <tr *ngIf="Feedbacks.length === 0">
            <td colspan="3" class="no-data">Aucune donnée disponible dans le tableau</td>
          </tr>
        </tbody>
      </table>
      <div class="pagination">
        <button class="btn btn-secondary" (click)="prevPage()">Précédent</button>
        <button class="btn btn-secondary" (click)="nextPage()">Suivant</button>
       </div>
     
   
   
</div>
   
    
</div>

</section>
    </main>

<!-- End #main -->

<!-- ======= Footer ======= -->
<footer id="footer" class="footer">
  <div class="copyright">
    &copy; Copyright <strong><span></span></strong>. All Rights Reserved
  </div>
  <div class="credits">
   
    Designed by <a href="https://bootstrapmade.com/"></a>
  </div>
</footer><!-- End Footer -->



</body>

</html>
  
 
 
