/* Container */
.container {
  margin-top: 30px;
}

/* Card */
.card {
  border-radius: 10px;
  border: 1px solid #e0e0e0;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Card Body */
.card-body {
  padding: 20px;
}

/* Categorie Menu */
.category-menu {
  padding: 20px;
  border-radius: 8px;
  background-color: #f0f8ff; /* Nouvelle couleur de fond */
  transition: background-color 0.3s ease;
}

.category-menu:hover {
  background-color: #d3e0ea; /* Couleur de fond au survol */
}

/* Categorie Menu Title */
.category-menu .menu-title {
  font-weight: bold;
  color: #333;
}

/* Categorie Menu Description */
.category-menu .menu-description {
  color: #666;
}

/* Animation */
.animate-fade-in {
  animation: fade-in 0.5s ease;
}

@keyframes fade-in {
  from { opacity: 0; }
  to { opacity: 1; }
}
.icon .cart-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px; /* Ajustez la taille selon vos besoins */
  height: 40px;
  border-radius: 50%;
  background-color: #f8f9fa; /* Couleur de fond du cercle */
  text-decoration: none; /* Enlevez la décoration du lien */
  color: #000; /* Couleur de l'icône */
  transition: background-color 0.3s, color 0.3s; /* Transition pour l'effet de survol */
}

.icon .cart-icon:hover {
  background-color: #007bff; /* Couleur de fond au survol */
  color: #fff; /* Couleur de l'icône au survol */
  cursor: pointer; /* Change le curseur au survol */
}

.icon .cart-icon i {
  font-size: 1.5rem; /* Taille de l'icône */
}

